/* PostGrid.css
.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.post img {
  width: 100%;
  display: block;
}

.caption {
  padding: 10px;
  font-size: 14px;
  color: #333;
} */

.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post-item {
  width: 402px;
  /* background: #fafafa; */
  /* border-left: hidden; */
  /* border-right: hidden; */
  border: 1px solid #ddd;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  /* border-radius: 8px; */
  overflow: hidden;
}

.header_container{

 display:flex;
 gap: 10px ;
 
 
}

.header_container a{
  padding: 20px;
}
.post-image {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.post-caption {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

