/* Sidebar.css */

.sidebar {
  position: relative;
  left: 0;
}

.log_logo {
  /* margin-top: 28px; */
padding: 15px;
  width: 97px;
  
 
  /* height: 106px; */
}

.sidebar .menu {
  list-style: none;
  padding: 0;
 
}

.sidebar .menu li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.sidebar .menu li:hover {
  background-color: #f0f0f0;
}

.sidebar .menu li a {
  color: black; /* Set link color to black */
  text-decoration: none; /* Optional: removes underline */
  
}

.icon {
  margin-right: 10px;
}
.menu-item {
  display: flex;
  align-items: center;
 
  
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  
}



.menu-item-container {
  display: flex;
  align-items: center;
  width: 220px;
  justify-content: flex-start;
  gap: 16px; /* space between icon and text */

}

.icon-home {
  font-size: 16px;

  /* width: 20px;
  height: 20px;
  margin-right: 8px;  */
}

 /* доработать  */
/* PostGrid.css */
.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.post img {
  width: 100%;
  display: block;
}

.caption {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

новые стили 

.menu-item-container.active {

  background-color: #e0e0e0; /* or any other style */
 transition:  transform 0.3s ease; 
}
/* 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} */

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-area {
  margin: 20px 0;
}

.upload-icon {
  width: 50px;
  margin-bottom: 15px;
}

.upload-button {
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  background-color: #efefef;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}
.sidebar-button {
  color: #777; /* спокойный цвет для неактивной кнопки */
  cursor: pointer;
}

.sidebar-button.active {
  color: black; 
  font-weight: bold;
}



